@font-face{
    font-family: 'Montserrat';
    src: url(/Montserrat/Montserrat-Light.ttf);
    src: url(/Montserrat/Montserrat-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    color: #2E2E2E;
}
.location{
    height: 60vh;
    display: grid;
    align-content: center;
    justify-items: center;
}
.location-timezone{
    margin-bottom: 20px;
}
.location-subtitle{
    display:  flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.icon{
    margin-bottom: 200px;
}
.degree-section{
    display: flex;
    align-items: center;
}
.degree-section{
    font-size: 40px;
}
.degree-section span{
    font-size: 57px;
}
.temperature{
    text-align: center;
}
#map{
    width: 200px;
    height: 200px;
}